
<section id="controls">
<!--   <div class="btn turnleft"></div> -->
  <div class="btn forward">↑</div>
<!-- <div class="btn turnright"></div> -->
  <div class="btn left">←</div>
  <div class="btn stop">x</div>
  <div class="btn right">→</div>
  <div class="btn reverse">↓</div>
</section>