/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #dedede;
  font-family: sans-serif;
  zoom: 2.0;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: blue;
  color: white;
  margin: 5px;
  padding: 20px;
  width: 20px;
  text-align: center;
  border-radius: 100%;
}

.btn.stop {
  background-color: red;
}


.btn.forward, .btn.reverse { background-color: green; }

section#controls {
  background-color: white;
  width: 380px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

section#controls div {
  display: inline-block;
}

section#stats {
  background: rgba(30,30,30,200);
  position: fixed;
  top: 0;
  right: 0;
  color: white;
}

.btn:hover {
  background-color: #0e0e0e;
  cursor: pointer;
}
